.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiListItem-root.MuiListItem-gutters{
  padding: 12px;
}

nav{
  height: auto;
  min-height: 92vh;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  min-height: 500px;
}
.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root{
  margin-bottom: 8px;
}

.infinite-scroll-component__outerdiv{
  margin-left: auto !important;
  margin-right: auto !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
